.appBar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	padding-left: 1rem;
	padding-right: 1rem;
}

.appBar-right-side-container {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	gap: 1rem;
}