:root {
	--roulette-min-width: 500px;
	--roulette-min-height: 500px;

	--roulette-width: 60vh;
	--roulette-height: 60vh;
}

.roulette-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 1rem;
}

.roulette-triangle {
	width: 0;
	height: 0;
	top: 60px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 80px solid #fff;
}

.roulette-div {
	overflow: hidden;
	min-width: var(--roulette-min-width);
	min-height: var(--roulette-min-height);
}

.roulette-circle {
	border: 1px solid black;
	padding: 0;
	margin: 0;
	width: var(--roulette-width);
	height: var(--roulette-height);
	min-width: var(--roulette-min-width);
	min-height: var(--roulette-min-height);
	border-radius: 50%;
	list-style: none;
}

.roulette-li {
	position: absolute;
	width: var(--roulette-width);
	height: var(--roulette-height);
	min-width: var(--roulette-min-width);
	min-height: var(--roulette-min-height);
}

.roulette-text {
	padding-top: 1rem;
	font-size: 24px;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media (max-width: 767px) or (orientation: portrait) {
	:root {
		--roulette-width: 80vw;
		--roulette-height: 80vw;

		--roulette-min-width: none;
		--roulette-min-height: none;
	}

	.roulette-triangle {
		border-top: 50px solid #fff;
	}
}